.div2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(76, 62, 85, 0.3);
}

.div2-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 90%;
	padding-bottom: 20px;
}

.prez-web-txt {
	width: 50%;
}

#land-web-txt {
	font-size: 1.8rem;
	text-align: justify;
}

#land-img-dash {
	background-color: white;
	width: 80%;
	border-radius: 5px;
}

.diagonal-gradient-div2 {
	width: 100%;
	height: 8vh;
	background: linear-gradient(to top left, transparent 49.5%, rgba(76, 62, 85, 0.3) 50.5%);
}



.slider-container {
	display: flex;
}

.slider {
	max-width: 600px;
	height: 400px;
	overflow: hidden;
	position: relative;
}

.slides {
	display: flex;
	overflow-x: scroll;
	position: relative;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	width: 100%;
}

.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 100%;
	height: 400px;
	scroll-snap-align: center;
	margin-right: 0px;
	transform: scale(1);
}

a.slide__prev,
.slider::before {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	left: 5%;
}

a.slide__next,
.slider::after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 5%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
	position: absolute;
	top: 48%;
	width: 20px;
	height: 20px;
	border: solid rgba(0, 0, 0, 0.2);
	border-width: 0 4px 4px 0;
	padding: 3px;
	box-sizing: border-box;
}

.slider::before,
.slider::after {
	content: "";
	z-index: 1;
	background: none;
	pointer-events: none;
}
