.div2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(76, 62, 85, 0.3);
	width: 100%;
}

.div2-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 90%;
	padding-bottom: 20px;
}

.prez-web-txt {
	width: 50%;
}

#land-web-txt {
	font-size: 1.8rem;
	text-align: justify;
}

#land-img-dash {
	background-color: white;
	width: 80%;
	border-radius: 5px;
}

/* ==================== Carousel ====================*/

#carousel-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 50%; /* Définir la largeur sur 100% */
	overflow: hidden;
	position: relative;
	gap: 50px;
	padding: 20px;
}

.carousel-slide {
	cursor: pointer;
	position: relative;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.carousel-slide:hover {
	box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
}

.carousel-slide.hidden {
	opacity: 0;
}

.carousel-slide img {
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/* ==================== Large IMG ====================*/

#lightbox-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#lightbox-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#lightbox-img {
    max-width: 80%;
    max-height: 80%;
}

#close-lightbox {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
