.div2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(76, 62, 85, 0.3);
}

.div2-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.prez-web-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* background-color: white; */
	width: 50%;
	padding-top: 25px;
}

.prez-web-txt {
	/* background-color: blue; */
	width: 50%;
}
#land-web-txt {
	font-size: 1.8rem;
	text-align: justify;
	/* width: 50%; */
}

#land-img-dash {
	background-color: white;
	width: 50%;
	border-radius: 5px;
}

.diagonal-gradient-div2 {
    width: 100vw;
    height: 2vh;
    background: linear-gradient(to bottom right, transparent 49.5%, rgb(235, 235, 235) 50.5%);
    /* transform: rotate(45deg); */
}