.div3 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 30px;
	width: 100%;

}
.div3-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.div3-title {
	width: 100%;
}
.div3-title h2 {
	text-align: center;
	font-family: var(--main-font-family);
	color: var(--main-color);
	font-weight: normal;
}
.prez-app {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 20px;
}
.prez-app-txt {
	font-size: 2rem;
	width: 50%;
	padding-left: 50px;
}
.prez-app-txt h3 {
	font-family: var(--main-font-family);
	color: var(--main-color);
	font-weight: normal;
	font-size: 2.5rem;
	text-align: center;
	padding-bottom: 20px;
}
/* .animated-title {
	animation: tiltAnimation 0.8s ease-in-out infinite alternate;
}
@keyframes tiltAnimation {
	0% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(2deg);
	}
} */
.prez-app-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
}
.gallery-app {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}
.gallery-app-img {
	display: none;
	flex: 1;
	width: 50%;
}
.gallery-app-img img {
	width: 100%;
	height: auto;
}

.diagonal-gradient-div2 {
    width: 100%;
    height: 6vh;
    background: linear-gradient(to top left, transparent 49.5%, rgba(76, 62, 85, 0.3) 50.5%);
}