{% load static %}

<div class="logo-img">
	<img id="landing_logo" src="{% static '/img/CronOs_logo-shadow.png' %}" alt="logo">
</div>

<div class="logo-msg">
	<div class="messages_container">
		<ul class="messages_list">
		  <li>Our service simplifies computer automations</li>
		  <li>Personalized automations on your computer</li>
		  <li>Easy computer automations with our reliable service</li>
		  <li>Trust in our security for your computer automations</li>
		</ul>
	</div>
</div>

<div class="logo-log">
	<div class="log-register_login_div">
		<button class="log-btn" id="log-register" type="submit">REGISTER</button>
		<button class="log-btn" id="log-login" type="submit" >LOGIN</button>
	</div>
</div>

<div class="diagonal-gradient"></div>
