{% load static %}

<script>
	$(document).ready(function() {
		var splide = new Splide('.splide', {
			type: 'loop',
			perPage: 1,
			autoplay: true,
			speed: 1000
		});
		splide.mount();
	});
</script>

<div class="div-title"><h1>Our Website</h1></div>

<div class="div2-content">
	<section id="image-carousel" class="splide" aria-label="Beautiful Images">
		<div class="splide__track">
			<ul class="splide__list">
				<li class="splide__slide">
					<img class="carousel-slide" src="{% static '/img/landing_page/landing_page_web_gallery/landing-dashboard.png' %}" alt="Image 1">
				</li>
				<li class="splide__slide">
					<img class="carousel-slide" src="{% static '/img/landing_page/landing_page_web_gallery/landing-download.png' %}" alt="Image 2">
				</li>
				<li class="splide__slide">
					<img class="carousel-slide" src="{% static '/img/landing_page/landing_page_web_gallery/landing-home.png' %}" alt="Image 3">
				</li>
				<li class="splide__slide">
					<img class="carousel-slide" src="{% static '/img/landing_page/landing_page_web_gallery/landing-faq.png' %}" alt="Image 4">
				</li>
			</ul>
		</div>
	</section>

	<div class="prez-web-txt">
		<h3>Create, delete, or pause cron jobs</h3>
		<p>You have just discovered the power of crons jobs, but don't feel like immersing yourself in your computer's terminal ?</p>
		<p>No problem, we're here to help !</p>
		<p>Our website will give you all the information you need to get started, and our intuitive dashboard and comprehensive documentation will guide you through the proces</p>
		<p>Then, no matter where you are, you can manage everything away from your computer :</p>
		<p>pause, create a new automation and even delete one !</p>
	</div>
</div>

<div id="lightbox" style="display: none;">
	<div id="lightbox-content">
		<img id="lightbox-img" src="" alt="Lightbox Image">
		<span id="close-lightbox">&times;</span>
	</div>
</div>
