{% load static %}

<h2>Our Website</h2>

<div class="div2-content">

	<div id="carousel-container" class="carousel-container">
		<img class="carousel-slide" src="{% static '/img/landing_img/landing-dashboard.png' %}" alt="Image 1">
		<img class="carousel-slide" src="{% static '/img/landing_img/landing-download.png' %}" alt="Image 2">
		<img class="carousel-slide" src="{% static '/img/landing_img/landing-faq.png' %}" alt="Image 3">
		<img class="carousel-slide" src="{% static '/img/landing_img/landing-home.png' %}" alt="Image 4">
	</div>

	<div class="prez-web-txt">
		<p id="land-web-txt">{% lorem 50 w random %}</p>
	</div>
</div>

<div id="lightbox" style="display: none;">
	<div id="lightbox-content">
		<img id="lightbox-img" src="" alt="Lightbox Image">
		<span id="close-lightbox">&times;</span>
	</div>
</div>
