{% load static %}
<div class="prez-app-txt">
	<p>
		{% lorem 2 %}
	</p>
</div>
<div class="prez-app-img">
	<div class="gallery-app">
		<div class="gallery-app-img">
			<img src="{% static 'img/landing_page_img/gallery-img00.png' %}" alt="app login page">
		</div>
		<div class="gallery-app-img">
			<img src="{% static 'img/landing_page_img/gallery-img01.png' %}" alt="main page app">
		</div>
		<div class="gallery-app-img">
			<img src="{% static 'img/landing_page_img/gallery-img02.png' %}" alt="clear logs page">
		</div>
	</div>
</div>
