{% load static %}

<div class="div3-content">
	<div class="diagonal-gradient-div2"></div>
	<div class="div3-title">
		<h2 class="animated-title">An app that links it all</h2>
	</div>
	<div class="prez-app">
		<div class="prez-app-txt">
			<h3>Cronos-Connect</h3>
			<p>
				Our Cronos-Connect application links the website to your computer
			</p>
			<br>
			<p>
				Download it, log in and let it do the work for you !
			</p>
		</div>
		<div class="prez-app-img">
			<div class="gallery-app">
				<div class="gallery-app-img">
					<img src="{% static 'img/landing_page_img/gallery-img00.png' %}" alt="app login page">
				</div>
				<div class="gallery-app-img">
					<img src="{% static 'img/landing_page_img/gallery-img01.png' %}" alt="main page app">
				</div>
				<div class="gallery-app-img">
					<img src="{% static 'img/landing_page_img/gallery-img02.png' %}" alt="clear logs page">
				</div>
			</div>
		</div>
	</div>
</div>
