{% load static %}

<div class="about-content">
	<div class="div-title">
		<h1>About</h1>
	</div>

	<div class="description">
		<p>
			Our project grew out of experience gained during an internship,
			when the idea of simplifying the management of scheduled tasks on a computer system was raised.
			Initially envisioned as a cron management tool for internal use, we quickly
			realized the potential of making this functionality accessible to a wider audience
		</p>
		<p>
			The aim was to create an intuitive online service that would enable anyone to
			schedule automated tasks on their computer, without the need for in-depth technical knowledge
		</p>
		<p>
			Our team set about designing and developing this platform with the mission of simplifying
			IT processes for everyone, while guaranteeing a fluid and secure user experience.
		</p>
		<p>
			The result is a reliable, user-friendly service that enables everyone to maximize the efficiency
			of their computer use, whatever their level of experience and technical skills
		</p>

	</div>

	<div class="about-us">
		<h2 class="team-title">Team CronOS</h2>
		<div class="olive">
			<img class="about_us_pic" src="{% static '/img/landing_page/landing_page_about/olive.jpeg' %}" alt="olive">
			<h3 class="about-name">Olive</h3>
			<div class="about-text">
				<p>Holberton School Student</p>
			</div>
			<div class="about-links">
				<a href="https://github.com/electrikbox" target="blank"><div class="link-icon"><img class="about-icon about-icon-github" src="{% static '/img/landing_page/landing_page_about/github.png' %}" alt="Github link for Olive"></div></a>
				<a href="https://www.linkedin.com/in/olivier-tservrancx/" target="blank"><div class="link-icon"><img class="about-icon about-icon-linkedin" src="{% static '/img/landing_page/landing_page_about/linkedin.png' %}" alt="Linkedin link for Olive"></div></a>
			</div>
		</div>
		<div class="valentine">
			<img class="about_us_pic" src="{% static '/img/landing_page/landing_page_about/valentine1.png' %}" alt="valentine">
			<h3 class="about-name">Valentine</h3>
			<div class="about-text">
				<p>Holberton School Student</p>
			</div>
			<div class="about-links">
				<a href="https://github.com/ValPumpkins" target="blank"><div class="link-icon"><img class="about-icon about-icon-github" src="{% static '/img/landing_page/landing_page_about/github.png' %}" alt="Gitbub link for Valentine"></div></a>
				<a href="https://www.linkedin.com/in/valentine-quignon/" target="blank"><div class="link-icon"><img class="about-icon about-icon-linkedin" src="{% static '/img/landing_page/landing_page_about/linkedin.png' %}" alt="Linkedin link for Valentine"></div></a>
			</div>
		</div>
	</div>
</div>
