{% load static %}

<div class="div-title">
	<h2>About US</h2>
</div>
<div class="about-us">
	<div class="olive">
		<img class="about_us_pic" src="{% static '/img/landing_img/olive.jpeg' %}" alt="olive">
		<p class="about-name">OLIVE</p>
		<div class="about-text">
			<p>{% lorem 10 w random %}</p>
		</div>
	</div>
	<div class="valentine">
		<img class="about_us_pic" src="{% static '/img/landing_img/valentine.png' %}" alt="valentine">
		<p class="about-name">VALENTINE</p>
		<div class="about-text">
			<p>{% lorem 10 w random %}</p>
		</div>
	</div>
</div>
