{% load static %}
<div class="reviews-content">
	<div class="diagonal-gradient-div5"></div>
	<div class="div-title">
		<h1>Your opinion matters</h1>
	</div>

	<div class="description">
		<p>
			Explore authentic feedback from our users and discover how our service has changed their lives, facilitating their daily tasks and helping them achieve their goals
		</p>
		<p>
			These stories reflect not only our customers' satisfaction, but also the positive impact our product has had on their daily lives
		</p>
		<p>
			Immerse yourself in their inspiring stories and let them convince you !
		</p>
	</div>

	<div class="all-reviews">
		<div class="reviews">
			<img src="{% static 'img/landing_page/landing_page_reviews/pic00.png' %}" alt="pic1">
			<div class="review-stars">⭐️⭐️⭐️⭐️⭐️</div>
			<p>
				Cronos is like the perfect scalpel in the operating theatre of life
			</p>
		</div>
		<div class="reviews">
			<img src="{% static 'img/landing_page/landing_page_reviews/pic01.png' %}" alt="pic2">
			<div class="review-stars">⭐️⭐️⭐️⭐️⭐️</div>
			<p>
				This is pure quality, a one-way journey to ultimate efficiency
			</p>
		</div>
		<div class="reviews">
			<img src="{% static 'img/landing_page/landing_page_reviews/pic02.png' %}" alt="pic2">
			<div class="review-stars">⭐️⭐️⭐️⭐️⭐️</div>
			<p>
				It's like stepping back in time to an era where all your needs are instantly met
			</p>
		</div>
	</div>
</div>
