{% load static %}
<div class="reviews-content">
	<div class="div5-title">
		<h2 >Your opinion matters</h2>
	</div>

	<div class="all-reviews">
		<div class="reviews">
			<img src="{% static 'img/landing_page_user_pic/pic00.png' %}" alt="pic1">
			<div class="review-stars">⭐️⭐️⭐️⭐️⭐️</div>
			<p>
				Cronos is like the perfect scalpel in the operating theatre of life
			</p>
		</div>
		<div class="reviews">
			<img src="{% static 'img/landing_page_user_pic/pic01.png' %}" alt="pic2">
			<div class="review-stars">⭐️⭐️⭐️⭐️⭐️</div>
			<p>
				This is pure quality, a one-way journey to ultimate efficiency
			</p>
		</div>
		<div class="reviews">
			<img src="{% static 'img/landing_page_user_pic/pic02.png' %}" alt="pic2">
			<div class="review-stars">⭐️⭐️⭐️⭐️⭐️</div>
			<p>
				It's like stepping back in time to an era where all your needs are instantly met
			</p>
		</div>
	</div>
</div>
