{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Default title{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/style.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <header></header>
    <main>
      <h1>BASE</h1>
      {% block content %}{% endblock %}
    </main>
    <footer></footer>
  </body>
</html>
