{% extends 'base.html' %}

{% block title %}CronTab Form{% endblock %}

{% block head %}
{% load static %}
<script src="{% static '/script_cron_form.js' %}"></script>
<link rel="stylesheet" href="{% static '/cron_form_style.css' %}" />
{% endblock %}

{% block content %}
<h2>Form</h2>
<div class="blur">
<form method="post">

  {% csrf_token %}
  
  <div class="element">
    <div class="label">{{ form.minutes.label }}</div>
    <div class="select">{{ form.minutes }}</div>
  </div>
  
  <div class="element">
    <div class="label">{{ form.hours.label }}</div>
    <div class="select">{{ form.hours }}</div>
  </div>
  
  <div class="element">
    <div class="label">{{ form.day_of_month.label }}</div>
    <div class="select">{{ form.day_of_month }}</div>
  </div>
  
  <div class="element">
    <div class="label">{{ form.months.label }}</div>
    <div class="select">{{ form.months }}</div>
  </div>
  
  <div class="element">
    <div class="label">{{ form.day_of_week.label }}</div>
    <div class="select">{{ form.day_of_week }}</div>
  </div>
  
  <div class="element">
    <div class="label">{{ form.command.label }}</div>
    <div class="select">{{ form.command }}</div>
  </div>

  <button class="submit" type="submit">submit</button>
</form>
</div>
{% endblock %}
