body
{
	background-color:rgb(34, 39, 41);
}

h1 {
	text-align: center;
	font-family: sans-serif;
	color: #799ca7;
	font-size: 40px;
}

h2 {
	text-align: center;
	font-family: sans-serif;
	color: #547d8a;
	font-size: 26px;
}
