{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Default title{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/header_auth.css' %}"/>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    {% block head %}{% endblock %}
  </head>

  <body class="dark-mode">

    <header class="header">{% include 'header.html'%}</header>

    <main>
      {% block main %}
      <h2>main</h2>
      {% endblock %}
    </main>

    <footer><h3>Footer</h3></footer>

  </body>
</html>
