{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Default title{% endblock %}</title>

    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/auth_login_logout.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    {% block head %}{% endblock %}
  </head>

<body>

    <!-- ============== header ============== -->

    <header class="header">
      {% block header %}

      <div class="header_logo_text_and_menu">

        <div class="logo"></div>

        <div class="content__container">
          <ul class="content__container__list">
            <li class="content__container__list__item">Our service simplifies computer automations</li>
            <li class="content__container__list__item">Personalized automations on your computer</li>
            <li class="content__container__list__item">Easy computer automations with our reliable service</li>
            <li class="content__container__list__item">Trust in our security for your computer automations</li>
          </ul>
        </div>

        <div class="auth_menu">
          {% csrf_token %}
          <div class="auth_menu_list">
            {% if user.is_authenticated %}
            <nav><ul>
              <li class="dropdown">
                <p><class="dropbtn">{{ user.username }} ▾</p>
                <div class="dropdown-content">
                  <a href="{% url 'Cronos_website:home'%}">Home</a>
                  <a href="#">Account</a>
                  <a href="{% url 'Cronos_website:cron_create_form'%}">Crons dashboard</a>
                  <a href="#">FAQ</a>
                  <a href="#">Contact us</a>
                  <a href="{% url 'accounts:logout' %}" id="logout">Logout</a>
                </div>
              </li>
            </ul></nav>
          </div>

          {% else%}
          <p><a href="{% url 'accounts:signup' %}">Register</a></p>
          <br>
          <p><a href="{% url 'accounts:login' %}">Login</a></p>
          {% endif %}
        </div>
      </div>
    </div>

      <h1>BASE</h1>
      {% endblock %}
    </header>

    <!-- ============== main ============== -->

    <main>
      {% block main %}
      <h2>main</h2>
      {% endblock %}
    </main>

    <!-- ============== footer ============== -->

    <footer>
      <h2>footer</h2>
    </footer>

  </body>
  </html>
