{% extends 'user_logged.html' %}
{% load static %}

<!-- ================= TITLE ================= -->

{% block title %}CronTab Form{% endblock %}

<!-- ================= HEAD ================= -->

{% block head_dashboard %}
<script src="{% static '/js/dashboard/choice_field_handler.js' %}"></script>
<script src="{% static '/js/dashboard/delete_crons.js' %}"></script>
<script src="{% static '/js/dashboard/pause_handler.js' %}"></script>
<script src="{% static '/js/dashboard/switch_pendings.js' %}"></script>
<script src="{% static '/js/dashboard/utils.js' %}"></script>
{% endblock %}

<!-- ================= SECTION ================= -->

{% block section %}
<h2>Create cron</h2>

<div class="success_msg">
  {% if request.GET.create %}
  <p class="success_create">Cron has been successfully created</p>
  {% endif %}
  {% for message in messages %}
    <p class="error_msg">{{ message }}</p>
  {% endfor %}
</div>

<div class="global">
  <div class="create_and_logs">
    <div class="cron_form_create">
      <div class="dashboard_titles">
        <ion-icon name="create-outline"></ion-icon>
        <h3>Create a cron</h3>
      </div>
      {% include "./dashboard_modules/create_cron.html" %}
  </div>

  <div class="cron_form_logs">
    <div class="dashboard_titles">
      <ion-icon name="book-outline"></ion-icon>
      <h3>Logs</h3>
    </div>
    {% include "./dashboard_modules/logs.html" %}
  </div>
</div>

<div class="crons_list">
  <div class="cron_form_list">
    <div class="dashboard_titles">
      <ion-icon name="list-outline"></ion-icon>
      <h3>Your crons</h3>
    </div>
    <div class="selected-buttons">
      <button type="submit" class="delete-selected" disabled>Delete selected</button>
      <button type="submit" class="pause-selected" disabled>Pause selected</button>
    </div>
    {% include "./dashboard_modules/cron.html" %}
  </div>
</div>

{% endblock %}
