{% extends 'user_logged.html' %}

<!-- ================= TITLE ================= -->

{% block title %}CronTab Form{% endblock %}

<!-- ================= SECTION ================= -->

{% block section %}

<h2>Create cron</h2>
<div class="cron_form_div">
  <h3>Create a cron</h3>
  <form class="cron_form" method="post">


    {% csrf_token %}
    <div class="element">
      <label for="min">{{ cron_create_form.minutes.label }}</label>
      <div class="select">{{ cron_create_form.minutes }}</div>
    </div>

    <div class="element">
      <label for="hours">{{ cron_create_form.hours.label }}</label>
      <div class="select">{{ cron_create_form.hours }}</div>
    </div>

    <div class="element">
      <label for="dom">{{ cron_create_form.day_of_month.label }}</label>
      <div class="select">{{ cron_create_form.day_of_month }}</div>
    </div>

    <div class="element">
      <label for="months">{{ cron_create_form.months.label }}</label>
      <div class="select">{{ cron_create_form.months }}</div>
    </div>

    <div class="element">
      <label for="dow">{{ cron_create_form.day_of_week.label }}</label>
      <div class="select">{{ cron_create_form.day_of_week }}</div>
    </div>

    <div class="element">
      <label for="command">{{ cron_create_form.command.label }}</label>
      <div class="select">{{ cron_create_form.command }}</div>
    </div>

    <button type="submit">create</button>
  </form>
</div>

<div class="cron_form_div">
  <h3>Your crons</h3>
  {% for cron in crons %}
  <div class="cron">
    <p>{{ cron.minutes }} {{ cron.hours }} {{ cron.day_of_month }} {{ cron.months }} {{ cron.day_of_week }} {{ cron.command }}</p>
      <div class="cron-option">
        <div class="pause-cron" data-cron-id="{{ cron.id }}"><ion-icon name="pause-circle-outline"></ion-icon></div>
        <div class="delete-cron" data-cron-id="{{ cron.id }}"><ion-icon name="trash-outline"></ion-icon></div>
      </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
