{% extends 'user_logged.html' %}
{% load static %}

{% block title %}Cronos Downloads{% endblock %}

{% block section %}
<h2>Download Cronos-Connect</h2>

<div class="help-dl-block">
	<p class="help-dl">Here you'll find download links for the desktop application</p>
	<p class="help-dl">Choose the type of computer on which you plan to use it :</p>
</div>

<div class="download-block">
	<div class="download-section">
		<h3 class="h3-dl">macOS</h3>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" class="logo"><path d="M97.905 67.885c.174 18.8 16.494 25.057 16.674 25.137-.138.44-2.607 8.916-8.597 17.669-5.178 7.568-10.553 15.108-19.018 15.266-8.318.152-10.993-4.934-20.504-4.934-9.508 0-12.479 4.776-20.354 5.086-8.172.31-14.395-8.185-19.616-15.724C15.822 94.961 7.669 66.8 18.616 47.791c5.438-9.44 15.158-15.417 25.707-15.571 8.024-.153 15.598 5.398 20.503 5.398 4.902 0 14.106-6.676 23.782-5.696 4.051.169 15.421 1.636 22.722 12.324-.587.365-13.566 7.921-13.425 23.639M82.272 21.719c4.338-5.251 7.258-12.563 6.462-19.836-6.254.251-13.816 4.167-18.301 9.416-4.02 4.647-7.54 12.087-6.591 19.216 6.971.54 14.091-3.542 18.43-8.796"/></svg>
		<a class="macos_link" href="https://www.dropbox.com/scl/fi/jktbit0cvhktek3wthzva/Cronos-Connect-Client_MACOS.dmg?rlkey=hnexu0m12lqyi5jct82njchc5&dl=1">
			<div class="macos_link_block">
				<svg xmlns="http://www.w3.org/2000/svg" class="ionicon-dl" viewBox="0 0 512 512"><path d="M336 176h40a40 40 0 0140 40v208a40 40 0 01-40 40H136a40 40 0 01-40-40V216a40 40 0 0140-40h40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M176 272l80 80 80-80M256 48v288"/></svg>
				<p>Download for macOS</p>
			</div>
		</a>
	</div>

	<div class="download-section">
		<h3 class="h3-dl">Linux</h3>
		<img class="logo" src="{% static 'img/downloads_img/linux_logo.png' %}" alt="linux-logo">
		<a class="linux_link" href="https://www.dropbox.com/scl/fi/zuk4ifdut9x0mmqb9bm5l/Cronos-Connect-client-Ubuntu.zip?rlkey=4o2cnjw3bf5rrqxf4piax87u8&dl=1">
			<div class="linux_link_block">
				<svg xmlns="http://www.w3.org/2000/svg" class="ionicon-dl" viewBox="0 0 512 512"><path d="M336 176h40a40 40 0 0140 40v208a40 40 0 01-40 40H136a40 40 0 01-40-40V216a40 40 0 0140-40h40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M176 272l80 80 80-80M256 48v288"/></svg>
				<p>Download for Linux</p>
			</div>
		</a>
	 </div>

	 <div class="download-section">
		<h3 class="h3-dl">Windows</h3>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" class="logo"><path fill="#00ADEF" d="M126 1.637l-67 9.834v49.831l67-.534zM1.647 66.709l.003 42.404 50.791 6.983-.04-49.057zm56.82.68l.094 49.465 67.376 9.509.016-58.863zM1.61 19.297l.047 42.383 50.791-.289-.023-49.016z"/></svg>
		<a class="wip_link" href="">
			<div class="wip_link_block">
				<svg xmlns="http://www.w3.org/2000/svg" class="ionicon-dl" viewBox="0 0 512 512"><path d="M336 176h40a40 40 0 0140 40v208a40 40 0 01-40 40H136a40 40 0 01-40-40V216a40 40 0 0140-40h40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M176 272l80 80 80-80M256 48v288"/></svg>
				<p>Download for Windows</p>
			</div>
		</a>
	 </div>
</div>


	<div class="msg-help-block">
		<p class="msg-help">For further information, please consult our <a href="/help_center">Help Center</a></p>
	</div>



{% endblock %}
