{% load static %}

<div class="header_auth">
  <div class="logo-menu">
    {% if user.is_authenticated %}
    <a href="{% url 'Cronos_website:home' %}"><img src="{% static '/img/CronOs_logo.png' %}" alt="logo"></a>
    {% elif request.path == '/accounts/login/' or request.path == '/accounts/signup/'%}
    <a href="/"><img src="{% static '/img/CronOs_logo.png' %}" alt="logo"></a>
    {% else %}
    <ul id="landing-menu">
      <li class="menu-active"><a href="#landing-top"><div class="home-icon"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon-home" viewBox="0 0 512 512"><path d="M80 212v236a16 16 0 0016 16h96V328a24 24 0 0124-24h80a24 24 0 0124 24v136h96a16 16 0 0016-16V212" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M480 256L266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256M400 179V64h-48v69" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg></div></a></li>
      <li class="menu-inactive"><a href="#landing-web">Web</a></li>
      <li class="menu-inactive"><a href="#landing-app">App</a></li>
      <li class="menu-inactive"><a href="#landing-about">About</a></li>
      <li class="menu-inactive"><a href="#landing-reviews">Reviews</a></li>
    </ul>
    {% endif %}
  </div>

  <div class="user_auth">
    {% if user.is_authenticated %}
    <img src="{{ image_url }}" alt="Profile Pic" class="profile_pic_header">
    <p id="username"><a href="{% url 'Cronos_account:user_account'%}">Welcome {{ user.username | capfirst}}</a></p>
    <p>|</p>
    <p><a href="{% url 'Cronos_account:logout'%}">Logout</a></p>
    {% else%}
    <p><a href="{% url 'Cronos_account:signup' %}">Register</a></p>
    <p>|</p>
    <p><a href="{% url 'Cronos_account:login' %}">Login</a></p>
    {% endif %}
  </div>
</div>
