{% load static %}

<div class="header_auth">
  {% comment %} <div class="logo-menu">
    <img src="{% static '/img/logo-test.png' %}" alt="logo">
  </div> {% endcomment %}
    <p>CRONOS</p>
  </div>

  <div class="user_auth">
    {% if user.is_authenticated %}
    <img src="{{ image_url }}" alt="Profile Pic" class="profile_pic_header">
    <p id="username"><a href="{% url 'Cronos_account:user_account'%}">Welcome {{ user.username | capfirst}}</a></p>
    <p>|</p>
    <p><a href="{% url 'Cronos_account:logout'%}">Logout</a></p>
    {% else%}
    <p><a href="{% url 'Cronos_account:signup' %}">Register</a></p>
    <p>|</p>
    <p><a href="{% url 'Cronos_account:login' %}">Login</a></p>
    {% endif %}
  </div>
</div>
