{% load static %}

<div class="header_auth">
  <div class="logo-menu">
    {% if user.is_authenticated %}
    <a href="{% url 'Cronos_website:home' %}"><img src="{% static '/img/CronOs_logo.png' %}" alt="logo"></a>
    {% elif request.path == '/accounts/login/' or request.path == '/accounts/signup/'%}
    <a href="/"><img src="{% static '/img/CronOs_logo.png' %}" alt="logo"></a>
    {% else %}
    <ul id="landing-menu">
      <li class="menu-inactive"><a href="#landing-top">Top</a></li>
      <li class="menu-inactive"><a href="#landing-web">Web</a></li>
      <li class="menu-inactive"><a href="#landing-app">App</a></li>
      <li class="menu-inactive"><a href="#landing-about">About</a></li>
      <li class="menu-inactive"><a href="#landing-reviews">Reviews</a></li>
    </ul>
    {% endif %}
  </div>

  <div class="user_auth">
    {% if user.is_authenticated %}
    <img src="{{ image_url }}" alt="Profile Pic" class="profile_pic_header">
    <p id="username"><a href="{% url 'Cronos_account:user_account'%}">Welcome {{ user.username | capfirst}}</a></p>
    <p>|</p>
    <p><a href="{% url 'Cronos_account:logout'%}">Logout</a></p>
    {% else%}
    <p><a href="{% url 'Cronos_account:signup' %}">Register</a></p>
    <p>|</p>
    <p><a href="{% url 'Cronos_account:login' %}">Login</a></p>
    {% endif %}
  </div>
</div>
