{% extends 'user_logged.html' %}

{% block title %}Cronos Help Center{% endblock %}

{% block section %}

<h2>Help Center</h2>

<div class="search-container">
	<input type="text" id="searchInput" placeholder="&#128269;  Search in FAQ...">
</div>

<div class="faq-block">
	<div class="question">
		<div class="title-faq">
			<button class="toggle-answer">▶︎</button>
			<h3 class="h3-faq">On which systems can I use CronOS ?</h3>
		</div>
		<article class="answer">
			<h4>The systems available are:</h4>
			<ul>
				<li>MacOs - Babar and later versions</li>
				<li>Linux - Truc and later versions</li>
			</ul>
		</article>
	</div>

	<div class="question">
		<div class="title-faq">
			<button class="toggle-answer">▶︎</button>
			<h3 class="h3-faq">What crons are available and what can I do with them?</h3>
		</div>
		<article class="answer">
			<ul>
				<li>Open : Open the url of your choice in your computer's default browser, at the desired time</li>
				<li>Cmd : What it does</li>
				<li>Cmd : What it does</li>
				<li>Cmd : What it does</li>
				<li>Cmd : What it does</li>
			</ul>
		</article>
	</div>

	<div class="question">
		<div class="title-faq">
			<button class="toggle-answer">▶︎</button>
			<h3 class="h3-faq">How can i change my password</h3>
		</div>
		<article class="answer">
			<p>To change your password, go to your <a href="http://localhost:8000/accounts/user_account/">Account</a>. Then locate the <em>Security</em> block, and enter your old password, followed by the new one</p>

		</article>
	</div>
</div>

{% endblock %}
