{% extends 'user_logged.html' %}

{% block title %}Cronos Help Center{% endblock %}

{% block section %}

<h2>Help Center</h2>

<div class="search-container">
	<input type="text" id="searchInput" placeholder="&#128269;  Search the Help Center...">
</div>

<!-- Section FAQ -->

<div class="faq-block">
	<div class="block-title">
		<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M256 80a176 176 0 10176 176A176 176 0 00256 80z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path d="M200 202.29s.84-17.5 19.57-32.57C230.68 160.77 244 158.18 256 158c10.93-.14 20.69 1.67 26.53 4.45 10 4.76 29.47 16.38 29.47 41.09 0 26-17 37.81-36.37 50.8S251 281.43 251 296" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="28"/><circle cx="250" cy="348" r="20"/></svg>
		<h3 class="h3-title">FAQ</h3>
	</div>
	<div class="question">
		<div class="title-help">
			<button class="toggle-answer">▶︎</button>
			<h3 class="h4-help">On which systems can I use CronOS ?</h3>
		</div>
		<article class="answer">
			<h4>The systems available are:</h4>
			<ul>
				<li>MacOs - Babar and later versions</li>
				<li>Linux - Truc and later versions</li>
			</ul>
		</article>
	</div>

	<div class="question">
		<div class="title-help">
			<button class="toggle-answer">▶︎</button>
			<h3 class="h4-help">What crons are available and what can I do with them?</h3>
		</div>
		<article class="answer">
			<ul>
				<li>Open : Open the url of your choice in your computer's default browser, at the desired time</li>
				<li>Cmd : What it does</li>
				<li>Cmd : What it does</li>
				<li>Cmd : What it does</li>
				<li>Cmd : What it does</li>
			</ul>
		</article>
	</div>

	<div class="question">
		<div class="title-help">
			<button class="toggle-answer">▶︎</button>
			<h3 class="h4-help">How can i change my password</h3>
		</div>
		<article class="answer">
			<p>To change your password, go to your <a href="/accounts/user_account/">Account</a>. Then locate the <em>Security</em> block, and enter your old password, followed by the new one</p>

		</article>
	</div>
</div>

<!-- Section TUTO -->
<div class="tuto-block">
	<div class="block-title">
		<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M304 384v-24c0-29 31.54-56.43 52-76 28.84-27.57 44-64.61 44-108 0-80-63.73-144-144-144a143.6 143.6 0 00-144 144c0 41.84 15.81 81.39 44 108 20.35 19.21 52 46.7 52 76v24M224 480h64M208 432h96M256 384V256" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M294 240s-21.51 16-38 16-38-16-38-16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
		<h3 class="h3-title">HOW TO</h3>
	</div>

	<div class="tuto">
		<div class="title-help">
			<button class="toggle-answer">▶︎</button>
			<h3 class="h4-help">How to install the application on my computer ?</h3>
		</div>

		<article class="answer">
			<p> {% lorem %} </p>
		</article>
	</div>

	<div class="tuto">
		<div class="title-help">
			<button class="toggle-answer">▶︎</button>
			<h3 class="h4-help">How to create a cron</h3>
		</div>

		<article class="answer">
			<p> {% lorem %} </p>
		</article>
	</div>

	<div class="tuto">
		<div class="title-help">
			<button class="toggle-answer">▶︎</button>
			<h3 class="h4-help">How to pause a cron</h3>
		</div>

		<article class="answer">
			<p> {% lorem %} </p>
		</article>
	</div>

	<div class="tuto">
		<div class="title-help">
			<button class="toggle-answer">▶︎</button>
			<h3 class="h4-help">How to detele a cron</h3>
		</div>
		
		<article class="answer">
			<p> {% lorem %} </p>
		</article>
	</div>
</div>

{% endblock %}
