{% extends 'base.html' %}
{% load static %}

{% block css_landing_page %}
<link rel="stylesheet" href="{% static '/css/landing_page_global.css' %}"/>
<link rel="stylesheet" href="{% static '/css/landing_page_css/div1.css' %}"/>
<link rel="stylesheet" href="{% static '/css/landing_page_css/div2.css' %}"/>
<link rel="stylesheet" href="{% static '/css/landing_page_css/div3.css' %}"/>
<link rel="stylesheet" href="{% static '/css/landing_page_css/div4.css' %}"/>
<link rel="stylesheet" href="{% static '/css/landing_page_css/div5.css' %}"/>

{% endblock %}

{% block js_landing_page %}
<script src="{% static '/js/landing_page.js' %}"></script>
<script src="{% static '/js/landing_page_js/gallery_app.js' %}"></script>
{% endblock %}

{% block title %}Cronos Landing Page{% endblock %}

{% block main %}

<div class="main-block div1">
	{% include 'landing_page_content/div1.html' %}
</div>

<div class="main-block div2">
	{% include 'landing_page_content/div2.html' %}
</div>

<div class="main-block div3">
	{% include 'landing_page_content/div3.html' %}
</div>

<div class="main-block div4">
	{% include 'landing_page_content/div4.html' %}
</div>

<div class="main-block div5">
	{% include 'landing_page_content/div5.html' %}
</div>

{% endblock %}
