{% load static %}
<!-- Navbar -->
<nav id="navbar">
  <div class="logo">
    <img src="{% static '/img/Cron0S_03.png' %}" alt="logo">
  </div>
  <ul class="navbar-items flexbox-col">
    <li id="" class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <ion-icon name="home-outline"></ion-icon>
        </div>
        <span class="link-text">Home</span>
      </a>
    </li>
    <li id="accounts/account" class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <ion-icon name="person-outline"></ion-icon>
        </div>
        <span class="link-text">Account</span>
      </a>
    </li>
    <li id="dashboard" class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <ion-icon name="timer-outline"></ion-icon>
        </div>
        <span class="link-text">Dashboard</span>
      </a>
    </li>
    <li id="downloads" class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <ion-icon name="arrow-down-circle-outline"></ion-icon>
        </div>
        <span class="link-text">Downloads</span>
      </a>
    </li>
    <li id="FAQ" class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <ion-icon name="help-outline"></ion-icon>
        </div>
        <span class="link-text">FAQ</span>
      </a>
    </li>
    <li id="contact" class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        <span class="link-text">Contact Us</span>
      </a>
    </li>
  </ul>
</nav>

<script>
  const navbarItems = document.querySelectorAll('.navbar-item');

  navbarItems.forEach(item => {
    item.addEventListener('click', function() {
      const itemId = item.getAttribute('id');
      window.location.href = 'http://localhost:8000/' + itemId;
    });
  });
</script>
