{% extends 'base.html' %}

{% load static %}

{% block head %}
<script src="{% static '/js/menu.js' %}"></script>
<script src="{% static '/js/toggle_show_pwd.js' %}"></script>

<link rel="stylesheet" href="{% static '/css/dashboard.css' %}"/>
<link rel="stylesheet" href="{% static '/css/user_account_form.css' %}"/>
<link rel="stylesheet" href="{% static '/css/menu.css' %}"/>
{% block head_dashboard %}{% endblock %}
{% endblock %}


{% block main %}
<div class="user_logged">

  <aside>
    {% include "menu.html" %}
  </aside>

  <section class="section-content">
    {% block section %}{% endblock %}
  </section>

</div>
{% endblock %}
