{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Cronos - Please, activate your account</title>
</head>
<body>
    <p>Welcome to Cronos, {{ username }}!</p>
    <p>We are glad to have you on board</p>
    <p>Please, click the link below to activate your account :</p>
    <p><a href="{{ login_url }}">Log in to Cronos</a></p>
    <p>Enjoy!</p>
    {% comment %} <img src="https://i.imgur.com/tQVxAv4.png" alt="cronos-logo" /> {% endcomment %}
    <p>Team Cronos</p>
</body>
</html>
