{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cronos - Your password reset request</title>
</head>
<body>
    <p>Dear {{ username }}!</p>
    <p>It seems that you have sent us a request to change your password</p>
    <p>Please, click the link below to activate your account :</p>
    <p><a href="{{ forget_password_url }}">Log in to Cronos</a></p>
	<p>Please note that this link will only remain active for one hour</p>
	<p>If you are not the source of this request, please do not click on the link and contact us as soon as possible via your customer account</p>
    <p>Enjoy!</p>
    <p>Team Cronos</p>
</body>
</html>
