{% load static %}

<div class="title-help">
	<button class="toggle-answer">▶︎</button>
	<h4 class="h4-help">This command is not available ?</h4>
</div>
<article class="answer">
	<p>
		You have received a message telling you that a command is not available on your computer ?
	</p>
	<p>
		This is because not all systems accept the same commands, and the command you've chosen doesn't seem to be possible on your computer
	</p>
	<div class="cmd-na">
		<img class="cmd-na-img" src="{% static 'img/help_center_img/c-connect_cmd_na.png' %}" alt="homepage with command not available message">
	</div>
	<p>
		In this example, you can see that the command <em><strong>cal</strong></em>  is not available on the user's computer
	</p>
	</article>
