<div class="title-help">
	<button class="toggle-answer">▶︎</button>
	<h4 class="h4-help">What's the difference between a pending cron and a paused cron</h4>
</div>
<article class="answer">
	<p>
		A <strong>pending cron</strong> is waiting for your <a href="/downloads">Cronos-Connect</a> application to retrieve it
		and integrate it into your system. Once the application is launched,
		log in with your username and password,
		then the application will do its job and your cron status will change to <em>active</em>
	</p>
	<br>
	<p>
		A <strong>paused cron</strong> is a cron that has been activated
		(the application has correctly retrieved it and integrated it into your system),
		but you have chosen to stop its execution for the time being.
		You now have the choice of either reactivating it <em>(click on the play button)</em>, deleting it <em>(click on the trash icon)</em> or leaving it paused for as long as you like.
	</p>
</article>
