<div class="title-help">
	<button class="toggle-answer">▶︎</button>
	<h4 class="h4-help">What is a cron ?</h4>
</div>
<article class="answer">
	<p>
		A cron is a computer tool that lets you schedule tasks to run automatically at specific times.
		This can be useful for performing repetitive actions such as backing up files, open websites,
		or any tasks you want to perform without having to intervene manually each time.
	</p>
	<br>
	<p>
		In short, a cron simplifies the management of recurring tasks on a computer
		by automating them according to a defined schedule.
	</p>
</article>
