<div class="title-help">
	<button class="toggle-answer">▶︎</button>
	<h4 class="h4-help">What crons are available and what can I do with them ?</h4>
</div>
<article class="answer">
	<h4><strong>CP</strong></h4>
	<p>
		This command will copy all files bearing the name you entered into a folder inside Cronos folder in your home directory
	</p>
	<p>
		💡 <strong>TIPS</strong> : Special character '*' <em>(asterisk)</em> can be used to select all files with the given extension (ex: *.gif)
	</p>
<br>
	<h4><strong>LS</strong></h4>
	<p>
		This command will list all files founded with the name you entered in a txt file inside Cronos folder in your home directory
	</p>
	<p>
		💡 <strong>TIPS</strong> : Special character '*' <em>(asterisk)</em> can be used to select all file names with the given extension (ex: *.gif)
	</p>
<br>
	<h4><strong>OPEN</strong></h4>
	<p>
		This command simply opens the given url in a new tab in your default brower
	</p>
</article>
