<div class="title-help">
	<button class="toggle-answer">▶︎</button>
	<h4 class="h4-help">On which systems can I use CronOS ?</h4>
</div>
<article class="answer">
	<h5>The systems available are:</h5>
	<ul>
		<li>MacOs - Babar and later versions</li>
		<li>Linux - Truc and later versions</li>
	</ul>
	<br>
	<p>
		We're currently working on a version that will run on the Windows system,
		and you'll be notified when it's available. Many thanks for your patience.
		<br>
		In the meantime, you can find your <strong>Cronos-Connect</strong> application on the <a href="/downloads">Downloads</a> page
	</p>
</article>
