{% load static %}
<div class="title-help">
	<button class="toggle-answer">▶︎</button>
	<h4 class="h4-help">How to fill in the OPEN command field</h4>
</div>

<article class="answer">
	<p>
		As a reminder, the OPEN command will open the url of
		your choice in a new tab of your default browser at the defined time.
	</p>
	<div class="open_cmd">
		<img src="{% static 'img/help_center_img/open_cmd00.png' %}" alt="open command">
		<div class="tuto-text">
			<p>
				This command presents you with a url field, in which you must enter the url of the site you wish to open.
			</p>
			<br>
			<p>
				Please note that <strong>http:// or https://</strong> must be entered for the url to be correctly taken into account.
			</p>
			<br>
			<p>
				<strong>TIPS</strong> : Open the website you want and copy the url directly from your browser's URL field !
			</p>
		</div>
	</div>

</article>
