<div class="title-help">
	<button class="toggle-answer">▶︎</button>
	<h4 class="h4-help">How to install the application on my computer ?</h4>
</div>

<article class="answer">
	<p>
		For <strong>Cronos</strong> to work properly, you need to download and install our <strong>Cronos-Connect application</strong>. Here's how to do it :
	</p>
	<br>
	<p>
		First, go to the <a href="/downloads" target="blank">Downloads</a> page to find the version that matches your computer's system.
		We recommend that you open <a href="/downloads" target="blank">this page</a> in a new browser tab, so that you can continue following the next steps in this tutorial.
	</p>
	<br>
	<p>
		Then click on the appropriate download link, and the download will start instantly
	</p>
	<br>
	<h5>For macOS</h5>
	<p>
		<strong>--WIP--</strong> Once the download is complete, open the file and drag the application to the Applications folder
	</p>
	<br>
	<h5>For Linux</h5>
	<p>
		<strong>--WIP--</strong> Once the download is complete, open the file and drag the application to the Applications folder
	</p>
	<br>
	<p>
		Once the application has been installed, all you need to do is log in using the same identifiers as for logging in to the present site (username + corresponding password)
	</p>
</article>
