{% load static %}
<div class="title-help">
	<button class="toggle-answer">▶︎</button>
	<h4 class="h4-help">How to fill in the CP command fields</h4>
</div>

<article class="answer">
	<p>
		As a reminder, the CP command will copy all files bearing
		the name you entered into a folder inside the Cronos folder (in your home directory)
	</p>
	<div class="cp-cmd">
		<img src="{% static 'img/help_center_img/cp_cmd00.png' %}" alt="copy command">

		<div class="tuto-text">
			<p>
				<strong>In the first field</strong>, enter the name of the file or folder you wish to copy
			</p>
			<br>
			<p>
				<strong>In the second field</strong>, enter the name of the destination folder
			</p>
			<br>
			<p>
				💡<strong>TIPS</strong>: the special character "*" <em>(asterik)</em> can be used to select all files with the given extension
			</p>
			<br>
			<ul>
				<p>Here are a few examples :</p>
				<li><strong>*.gif</strong> : if you only want to copy files with the gif extension</li>
				<li><strong>cronos.*</strong> : if you want to copy all files with the name cronos, regardless of their extension</li>
			</ul>
		</div>
	</div>
</article>
