@import url('variables.css');

.cron_form {
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: center;
    gap: 8px;
    margin-top: 50px;
}
.cron_form select {
	min-width: 100px;
	padding: 5px;
	box-sizing: border-box;
	font-family: var(--main-font-family);
	font-size: 16px;
	outline: none;
	border-radius: 4px;
	border: 1px solid #ccc;
    margin-top: 5px;
}
.cron_form button[type="submit"] {
	padding: 5px;
	font-size: 16px;
    height: 32px;
    width: 70px;
	font-weight: bold;
	text-align: center;
	background-color: rgb(51, 132, 98);
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
