@import url('variables.css');

.cron_form {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}
.cron_form_date_cmd {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5px;

}
.url_field {
	display: flex;
	justify-content: center;
	width: 100%;
}
#id_url {
	width: 100%;
	padding: 7px;
	border: none;
	border-radius: 4px;
	outline: none;
	font-family: var(--main-font-family);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.cron_form label {
	font-family: var(--main-font-family);
	font-size: 16px;
	color: rgb(78, 78, 78);
}
.cron_form select:focus {
	border-color: #66afe9;
}
.cron_form button[type="submit"]:hover {
	background-color: rgb(14, 150, 212);
}
.element {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.cron_form_div {
	margin: 0;
	margin-top: 40px;
	padding: 0;
	background-color: rgb(226, 226, 226);
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
	min-width: 400px;
}
.cron_form_div h3 {
	margin: 0;
	margin-bottom: 20px;
	padding: 5px 0px 5px 10px;
	font-family: var(--main-font-family);
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	background-color: var(--link-color);
	border-radius: 3px;
	text-align: left;
	font-family: ubuntu;
}

.cron_form select {
	padding: 5px;
	font-family: var(--main-font-family);
	font-size: 16px;
	outline: none;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	background-color: rgb(255, 255, 255);
}
.cron_form button[type="submit"] {
	padding: 5px;
	font-size: 16px;
    height: 32px;
	width: 30%;
	font-weight: bold;
	text-align: center;
	background-color: rgb(51, 106, 132);
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.pause-cron {
	color: rgb(21, 82, 122);
}
.delete-cron {
	color: rgb(136, 15, 15);
}
.pause-cron > *, .delete-cron > * {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.pause-cron, .delete-cron {
	border-radius: 3px;
	margin: 4px 0px 4px 0px;
	padding: 2px;
}
.pause-cron:hover, .delete-cron:hover {
	cursor: pointer;
}
.cron-option {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	gap: 5px;
}
.cron {
	background-color: rgb(247, 247, 247);
	margin-top: 15px;
	padding: 0px 10px;
	border-radius: 3px;
	font-family: var(--main-font-family);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
	font-size: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.cron p {
	margin: 0;
}