@import url('variables.css');

.global {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 20px;
	width: 80%;
	padding: 10px 30px 10px 30px;
}
.cron_form {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
	min-width: 250px;
	width: 100%;
}
.cron_form > * {
	width: 100%;
}
.cron_form_date_cmd {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 5px;
}
.url_field {
	display: flex;
	justify-content: center;
	width: 100%;
}
#id_url {
	padding: 4px;
	width: 100%;
	border: none;
	border-radius: 4px;
	outline: none;
	font-family: var(--main-font-family);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.cron_form label {
	font-family: var(--main-font-family);
	font-size: 16px;
	color: rgb(78, 78, 78);
	padding-left: 7px;
	padding-top: 1px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.cron_form select:focus {
	border-color: #66afe9;
}
.cron_form button[type="submit"]:hover ,
.delete-selected:hover,
.pause-selected:hover {
	background-color: rgb(14, 150, 212);
}
.element {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
	background-color: rgb(240, 240, 240);
	border-radius: 3px;
}
.checkboxes {
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
	gap: 10px;
}
#day_check,
#month_check,
#dom_check {
	margin: 0;
	padding: 0;
	width: 0%;
}
.create_and_logs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	flex-grow: 1;
	gap: 20px;
}
.cron_form_create,
.cron_form_logs,
.cron_form_list {
	margin: 0;
	/* margin-bottom: 20px; */
	/* background-color: rgb(226, 226, 226); */
	padding: 20px;
	/* border-radius: 4px; */
	/* box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); */
	width: 100%;
	/* height: 100%; */
}
.crons_list,
.cron_form_logs,
.cron_form_create {
	background-color: rgb(226, 226, 226);
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.cron_form_list {
	min-width: 430px;
}
.cron_form_create h3,
.cron_form_logs h3,
.cron_form_list h3 {
	font-family: var(--main-font-family);
}
.cron_form input,
.cron_form select {
	padding: 5px;
	font-family: var(--main-font-family);
	font-size: 16px;
	outline: none;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	background-color: rgb(255, 255, 255);
}
.cron_form button[type="submit"] {
	padding: 5px;
	font-size: 16px;
    height: 32px;
	width: 30%;
	font-weight: bold;
	text-align: center;
	background-color: rgb(51, 106, 132);
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.pause-cron {
	color: rgb(21, 82, 122);
}
.delete-cron {
	color: rgb(136, 15, 15);
}
.pause-cron > *, .delete-cron > * {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
.pause-cron, .delete-cron {
	margin: 4px 0px 4px 0px;
	padding: 2px;
}
.pause-cron:hover, .delete-cron:hover {
	cursor: pointer;
}
.cron-option {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
}
.cron-test {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	margin-top: 5px;
	width: 100%;
}
#cron_id {
	display: flex;
	border-radius: 3px;
	font-family: var(--main-font-family);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
	font-size: 16px;
	align-items: center;
	min-width: 50px;
	min-height: 42px;
	text-align: center;
	justify-content: center;
	color: rgb(224, 224, 224);
	background-color: var(--main-color);

}
.cron {
	background-color: rgb(247, 247, 247);
	padding: 0px 10px;
	border-radius: 3px;
	font-family: var(--main-font-family);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
	font-size: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	min-height: 42px;
	flex-grow: 2;
	gap: 10px;
	width: 100%;
}
.cron p {
	margin: 0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	flex-grow: 3;
	width: 100%;
}
#id_time,
option,
select {
	min-width: 122px;
}
.success_msg {
	color: rgb(0, 128, 0);
	font-size: 16px;
	text-align: center;
	min-height: 20px;
}
.hidden {
    display: block;
}
.logs {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	margin-top: 5px;
	padding: 0;
	background-color: rgb(255, 255, 255);
	border-radius: 3px;
	gap: 3px;
}
.logs p {
	margin: 0;
	padding: 3.4px;
	font-family: var(--main-font-family);
	font-size: 16px;
	color: rgb(78, 78, 78);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.pending {
	color: rgb(255, 255, 255);
	background-color: rgb(187, 187, 187);
	border-radius: 3px;
	padding: 5px;
}
.active {
	background-color: var(--main-color);
}
.crons_list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	/* height: 100%; */
	flex-grow: 2;
}
.paused .first-p {
	color: rgb(165, 165, 165);
	text-shadow: none;
  }
.paused .active,
.paused #cron_id {
	background-color: rgb(141, 141, 141);
	opacity: 0.4;
}
.paused .cron,
.paused #cron_id {
    box-shadow: none;
}
.paused .cron {
	background-color: rgb(233, 233, 233);
}
.dashboard_titles {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(185, 185, 185);
	gap: 10px;
}
.dashboard_titles ion-icon {
    position: relative;
    font-size: 2rem;
	color: var(--main-color);
}
.selected-buttons {
	width: 100%;
	gap: 10px;
	margin-bottom: 10px;
	padding-bottom: 9px;
	border-bottom: 1px solid rgb(185, 185, 185);
}
.crons_list button[type="submit"] {
	padding: 5px;
	font-size: 12px;
    height: 25px;
	width: 20%;
	min-width: 100px;
	font-weight: bold;
	text-align: center;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.delete-selected ,
.pause-selected{
	background-color: rgb(51, 106, 132);
}
.delete-selected[disabled],
.pause-selected[disabled] {
	background-color: #ccc;
}
.pagination {
	font-family: var(--main-font-family);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 20px;
}