@import url('variables.css');

.header_auth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background-color: var(--bg-color_1);
    width: 100%;
    font-size: 1.6rem;
}

.logo-menu {
    align-self: center;
    padding-left: 1rem;
}
.logo-menu img {
    /* height: 3rem; */
    width: 10rem;
}

#logo-small {
    width: 3rem;
}

.user_auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    padding-right: 15px;
    gap: 7px;
}

.user_auth p,
.user_auth a {
    color: var(--text-color);
    font-family: var(--main-font-family);
    margin: 0%;
    text-decoration: none;
    text-align: end;
    font-size: 1.5rem;
}

#username {
    min-width: 112px;
}

.user_auth p:hover,
.user_auth a:hover {
    color: var(--link-color);
}
.profile_pic_header {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
