@import url('variables.css');

.search-container {
  	position: absolute;
  	top: 8%;
  	right: 20px;
	width: 15%;
}
.search-container input[type=text] {
  	background: #f1f1f1;
	padding: 10px 10px 10px 8px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 12px;
	font-size: 14px;

}
.search-container input[type=text]::placeholder {
	color: rgba(114, 114, 114, 0.5);
}
.answer {
	display: none;
	overflow: hidden;
	padding: 20px;
	margin-left: 20px;
	font-family: var(--main-font-family);
}
.answer h4 {
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 500;
}
.answer ul {
	padding-left: 20px;
}
.answer li {
	list-style: none;
	margin-top: 5px;
}
.answer a {
	text-decoration: none;
	color: rgb(147, 97, 227);
}
.answer a:hover {
	font-weight: bold;
	color: var(--link-color);
}
.faq-block,
.tuto-block {
	display: flex;
	flex-direction: column;
	background-color: rgb(226, 226, 226);
	padding: 30px;
	border-radius: 10px;
	margin-top: 55px;
	width: 90%;
	height: fit-content;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
.block-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: right;
	gap: 5px;
	width: 100%;
	padding-bottom: 5px;
}
.tuto-block {
	margin-top: 40px;
	margin-bottom: 50px;
}
.h4-help {
	color: rgb(68, 66, 66);
	margin: 15px;

}
.title-help {
	display: flex;
	flex-direction: row;
	font-size: 20px;
	font-weight: 600;
	width: 100%;
	border-bottom: 1px solid rgb(185, 185, 185);
}
.toggle-answer {
	background-color: transparent;
	color: rgb(147, 97, 227);
	border: none;
	margin-right: 5px;
	font-size: 20px;
}
.toggle-answer.open {
	margin-left: 10px;
}
