@import url('variables.css');

.main-block p {
	text-align: center;
	/* font-size: 4rem; */
	font-family: var(--main-font-family);
}

.div3 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.div4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: yellow;
}

.div5 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: orange;
}
