@import url('variables.css');

.login_form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
    margin: 0 auto;
}

.login_form label{
    font-family: var(--main-font-family);
    font-size: 16px;
    color: white;
}

.error_msg {
    color: var(--error-color);
    text-align: center;
    font-family: var(--main-font-family);
}
