@import url('variables.css');

@font-face {
	font-family: 'mustica';
	src: url('../fonts/MusticaPro-SemiBold.otf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
  	font-size: 62.5%;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: rgb(197, 197, 197);
}
header, footer {
	background-color: var(--bg-color_1);
	width: 100%;
	top: 0;
	z-index: 999;
}
header {
	background-color: var(--bg-color_1);
	position: relative;
    opacity: 1;
	z-index: 999;
}
.header {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.header-mobile {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.user_logged {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(212, 212, 212);
	width: 100%;
	background-color: transparent;
}
footer {
	background-color: var(--bg-color_1);
	width: 100%;
	bottom: 0;
	z-index: 999;
	padding: 10px;
}
footer p{
	color: var(--text-color);
	font-family: var(--main-font-family);
	text-align: center;
	font-size: 1.2rem;
	opacity: 0.7;
}
footer a{
	text-decoration: none;
	color: var(--text-color);
}
h1 {
	font-size: 4rem;
	text-align: center;
	margin-bottom: 20px;
}
h2 {
	font-size: 2.6rem;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1rem;
}
h3 {
	color: var(--text-color);
	font-size: 2rem;
	text-align: left;
}
h1, h2, h3 {
	/* font-family: var(--main-font-family); */
	font-family: 'mustica', sans-serif;
	margin: 0;
	color: var(--title-color);
	width: 100%;
}
.success_msg, .error_msg {
	font-family: var(--main-font-family);
	min-height: 2em;
	font-size: 1.8rem;
	text-align: center;
}
.success_msg {
	color: rgb(0, 128, 0);
}
.error_msg {
	color: rgb(199, 66, 66);
}
button {
	border: none;
	border-radius: .4em;
	cursor: pointer;
}

#blurBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	backdrop-filter: blur(5px);
	z-index: 2;
	pointer-events: none;
}

/* contenairs on pages ===============================================*/

.container-dashboard {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 20px;
	width: 100%;
	padding-left: 5em;
	padding-right: 5em;
}
input[type="submit"]:hover,
.cron_form-create button[type="submit"]:hover,
.user_pic_form input[type="submit"]:hover {
	background-color: rgb(34, 82, 104);
}

main {
	background-image: url('../img/background/cronos-back3.png');
	background-attachment:fixed;
	background-position: bottom;
    background-repeat: no-repeat;
	background-size: contain;
}
/* ==================== scrollbar ===================== */

/* width */
/* ::-webkit-scrollbar {
	width: 5px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
	border-radius: 5px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
	background: #9985a1;
	border-radius: 5px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
	background: #6d5377;
} */
