header, footer {
	background-color: rgb(37, 52, 66);
}

body
{
	display: flex;
	flex-direction: column;
	background-color:rgb(34, 39, 41);
	margin: 0%;
	min-height: 100vh;
}

footer {
	margin-top: auto;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	color: #799ca7;
	font-size: 40px;
	margin: 0%;
}

h2 {
	text-align: center;
	font-family: sans-serif;
	color: #547d8a;
	font-size: 26px;
	margin: 0%;
}

.login_signup p{
    text-align: end;
    font-family: sans-serif;
    font-size: 18px;
    padding: 3px;
	padding-right: 10px;
	margin: 0%;
	color: #799ca7;
	background-color: rgb(27, 28, 29);
}

.login_signup p a {
    color: #799ca7;
}


/* Style de base pour le menu */
/* nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    padding: 15px;
} */

/* Style du menu déroulant */
/* .dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
} */