@import url('variables.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: rgb(197, 197, 197);
}
header, footer {
	background-color: var(--bg-color_1);
	width: 100%;
	top: 0;
	z-index: 999;
}
.header {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.user_logged {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background: url('/static/img/43.jpg');
	background-size: 100%;
  	background-position: bottom right;
  	background-repeat: no-repeat;
	background-blend-mode:screen; */
	background-color: rgb(212, 212, 212);
	width: 100%;
	/* min-width: 930px; */
}
footer {
	background-color: var(--bg-color_1);
	width: 100%;
	bottom: 0;
	z-index: 999;
	padding: 10px;
}
footer p{
	color: var(--text-color);
	font-family: var(--main-font-family);
	text-align: center;
	font-size: 1.2rem;
	opacity: 0.7;
}
footer a{
	text-decoration: none;
	color: var(--text-color);
}
h1, h2, h3 {
	font-family: var(--main-font-family);
	margin: 0;
	color: var(--title-color);
	width: 100%;
}
h1 {
	font-size: 4rem;
	text-align: center;
}
h2 {
	font-size: 2.6rem;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1rem;
}
h3 {
	color: var(--text-color);
	font-size: 2rem;
	text-align: left;
}
.success_msg, .error_msg {
	font-family: var(--main-font-family);
	min-height: 2em;
	font-size: 1.8rem;
	text-align: center;
}
.success_msg {
	color: rgb(0, 128, 0);
}
.error_msg {
	color: rgb(199, 66, 66);
}
button {
	border: none;
	border-radius: .4em;
	cursor: pointer;
}

/* contenairs on pages ===============================================*/
.container-dashboard {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 20px;
	width: 100%;
	padding-left: 5em;
	padding-right: 5em;
}
input[type="submit"]:hover,
.cron_form-create button[type="submit"]:hover,
.user_pic_form input[type="submit"]:hover {
	background-color: rgb(34, 82, 104);
}
