.user_form_container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.personal {
	margin: 50px;

}
.user_account_form,
.user_pwd_form {
	display: flex;
	flex-direction: column;
	width: 400px;
	gap: 8px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: rgb(226, 226, 226);
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
label {
	padding-top: 10px;
	font-family: var(--main-font-family);
	font-size: 16px;
	color: rgb(78, 78, 78);
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 5px;
	box-sizing: border-box;
	font-family: var(--main-font-family);
	font-size: 16px;
	outline: none;
	border-radius: 4px;
	border: 1px solid #ccc;
}
input[type="submit"] {
	padding: 15px 20px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 10px 0;
	background-color: rgb(51, 106, 132);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
	border-color: #66afe9;
}

input[type="submit"]:hover {
	background-color: rgb(14, 150, 212);
}

.error_msg {
	color: rgb(199, 66, 66);
	text-align: center;
	font-family: sans-serif;
	font-size: 18px;
}

.success_msg {
	color: #2e8b57;
	text-align: center;
	font-family: sans-serif;
	font-size: 18px;
}
h3 {
	/* text-align: center; */
	font-family: var(--main-font-family);
	font-size: 24px;
	color: rgb(147, 97, 227);
}
.showPwd {
	font-family: var(--main-font-family);
	color: var(--text-color);
	width: auto;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
	margin-right: 10px;
	margin-top: -40px;
	margin-left: auto;
	margin-bottom: 15px;

}

.showPwd:hover {
	color: var(--link-color);
}
