:root {
    --bg-color_1: rgb(34, 34, 34);
    --bg-color_2: rgb(44, 44, 44);
    --error-color : rgb(199, 66, 66);
    --success-color : rgb(91, 196, 81);
    --link-color : rgb(250, 150, 0);
    --text-color : #799ca7;
    --title-color : var(--bg-color_1);
    --main-font-family: 'Roboto', sans-serif;
}