{% extends 'base.html' %}

{% load static %}

{% block title %}Cronos Forget password{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/forms.css' %}"/>
{% endblock %}

{% block main %}
<h2>Forget password</h2>

<div class="success_msg">
{% if request.GET.pending %}
  <p class="pending_forget_pwd">The reinitialization email has been sent, please check your mailbox</p>
{% endif %}
</div>

{% for message in messages %}
    <p class="error_msg">{{ message }}</p>
{% endfor %}
<div>
	<form class="forget_password_form" method="POST">
        {% csrf_token %}

        <label for="email">Your email</label>
        {{ forget_password_form.email }}

		<input type="submit" value="Send reset mail">
	</form>
</div>
{% endblock %}
