{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/forms.css' %}"/>
<script src="{% static '/js/toggle_show_pwd.js' %}"></script>
{% endblock %}

{% block main %}
<h2>Login</h2>

{% if request.GET.success %}
    <div class="success_signup">
        <p class="success_signup_text">Account created successfully</p>
    </div>
{% endif %}

{% for message in messages %}
    <p class="error_msg">{{ message }}</p>
{% endfor %}
<div class="login">
    <form class="login_form" method="POST">
        {% csrf_token %}
        <div class="inputGroup">
            {{ login_form.username }}
            <label for="username">Username</label>
        </div>
        <div class="inputGroup">
            {{ login_form.password }}
            <label for="password">Password</label>
        </div>

        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}
