{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/forms.css' %}"/>
{% endblock %}

{% block main %}
<h2>Login</h2>

{% if request.GET.success %}
    <div class="success_signup">
        <p class="success_signup_text">Account created successfully</p>
    </div>
{% endif %}

{% for message in messages %}
    <p class="error_msg">{{ message }}</p>
{% endfor %}
<div>
    <form class="login_form" method="POST">
        {% csrf_token %}
        {{ login_form }}
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}
