{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/forms.css' %}"/>
<script src="{% static '/js/toggle_show_pwd.js' %}"></script>
{% endblock %}

{% block main %}
<h2>Login</h2>

{% if request.GET.success %}
    <div class="success_signup">
        <p class="success_signup_text">Account created successfully</p>
    </div>
{% endif %}

{% if request.GET.activate %}
    <div class="success_activate">
        <p class="success_activate">Account activated, please log in</p>
    </div>
{% endif %}

{% for message in messages %}
    <p class="error_msg">{{ message }}</p>
{% endfor %}
<div>
    <form class="login_form" method="POST">
        {% csrf_token %}

        <label for="username">Username</label>
        {{ login_form.username }}
        <label for="password">Password</label>
        {{ login_form.password }}

        <p class="pwd_forget">
        <a href="https://www.holbertonschool.fr/" target="_blank">
          Forget your password ?
        </a>
      </p>

        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}
