{% extends 'base.html' %}

{% load static %}

{% block title %}Pending account activation{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/pending_page.css' %}" />
{% endblock %}

{% block main %}
<h2 class="pending-h2">Your account has been created successfully!</h2>
<h3>Next step before enjoying our services</h3>
<p class="pending-p">
    Please check your email for further instructions to activate your account
</p>
<div class="pending-logo">
    <img src="{% static '/img/Cron0S_03.png' %}" alt="logo" width="100px">
</div>
{% endblock %}
