{% extends 'base.html' %}

{% load static %}
{% block title %}Cronos New password{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/forms.css' %}" />
<script src="{% static '/js/toggle_show_pwd.js' %}"></script>
{% endblock %}

{% block main %}
<h2>Set a new password</h2>

{% for message in messages %}
<p class="error_msg">{{ message }}</p>
{% endfor %}
<div>
  <form class="change_pwd_form" method="POST">
    {% csrf_token %}

    <label for="password1">Your new password</label>
    {{ change_pwd_form.new_password }}

    <label for="password2">Confirm your new password</label>
	{{ change_pwd_form.new_password_confirm }}

    <input type="submit" value="Change your password" />
  </form>
</div>
{% endblock %}
